*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url("../HondaPhoto/LoGo/Login.jpg");
	background-repeat: no-repeat;
	background-size: 100% 720px;
}
.container{
	width: 500px;
	height: 500px;
	background-color: rgba(52, 73, 94, 0.7);
	margin-top:82px;
}
h2{
	color: #fff;
	text-align: center;
	margin-top:40px;
}
.form-group label{
	color: #fff;
	margin-left: 100px;

}
input[type="text"],input[type="password"]{
	color: #fff;
	width: 300px;
	margin-left: 100px;
}
input[type="submit"]{
	width: 150px;
	margin-left: 175px;
	margin-top:40px;
	background-color: green;
	color: #fff;
}
.form-Dk{
	margin-top:40px;
}